# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Django secret settings
.env
.env.*

# Ignore migrations (keep __init__.py)
migrations/
!migrations/__init__.py

# Node modules
node_modules/

# Build output
build/
dist/

# React environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

